:root {
  --color1: #ffffff;
  --color2: #cde7fb;
  --color3: #d6f2c9;
  --color4: #e9e6f6;
  --color5: #f8f9fb;
  --color6: #f3f4f6;
  --color7: #b8b8b8;
  --color8: #4692fd;
  --color9: #b04a9f;
  --color10: #73c694;
  --color11: #f0f8fe;
}
